<a href="https://colab.research.google.com/github/JoaoGabini/PA2025/blob/main/exercicios_listas_string/listatuplastringexercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercícios Manipulação de String

In [1]:
# 1 - Use o método len para imprimir o comprimento da string.
x = "Hello World"
print(len(x))

11

In [2]:
# 2 - Obtenha o primeiro caractere da string txt.
txt = "Hello World"
x = txt[0]
print(x)

H

In [3]:
# 3 - Obtenha os caracteres do índice 2 ao índice 4 ( llo).
txt = "Hello World"
x = txt[2:5:]
print(x)

llo

In [4]:
# 4 - Converta o valor de txt para maiúsculas.
txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

In [5]:
# 5 - Conte quantas vezes aparece a palavra "de" na string abaixo
txt = "Eu gosto de viajar, tomar vinho, de estudar estudar programação, de estudar Python"
txt= txt.count("de")
print(txt)

3

In [6]:
# 6 - Separe a frase abaixo toda vez que encontrar um vírgula
txt = "Eu gosto de viajar, tomar vinho, de estudar estudar programação, de estudar Python"
txt= txt.split(",")
print(txt)

['Eu gosto de viajar', ' tomar vinho', ' de estudar estudar programação', ' de estudar Python']

In [7]:
#7 - Peça ao usuário uma frase e substitua todas as ocorrências de espaço por “#”.
frase= input("Digite uma frase: ")
frase= frase.replace(" ", "#")
print(frase)

Digite uma frase: eu amo pipoca
eu#amo#pipoca

In [24]:
# 8 - Faça um programa que retorne True se duas strings lidas do teclado são palíndromas mútuas, ou seja, se uma é igual à outra quando lida de traz para frente ou False, se não forem.
# Por exemplo: amor e roma
palavra1=input("Digite sua Palavra: ").lower()
palavra2=input("Digite sua Palavra: ").lower()
if palavra1 == palavra1[::-1]:
  print("Sua primeira palavra é palíndroma dela mesma")
elif palavra2 == palavra2[::-1]:
  print("Sua segunda palavra é palíndroma dela mesma")
elif palavra1 == palavra2:
  print("São Palíndromas Mútuas")
else:
  print("Não São Palíndromas")

Digite sua Palavra: amor
Digite sua Palavra: gato
Não São Palíndromas

In [9]:
# 9- Faça um programa que leia o nome do usuário e mostre o nome de traz para frente, utilizando somente letras maiúsculas.
usuario= input("Digite o Nome de Usuário: ").upper()
usuario= usuario[::-1]
print(usuario)

Digite o Nome de Usuário: joao
OAOJ

#Exercícios Listas, Tuplas e Dicionários

##Exercício 1: Manipulação de Listas

- Defina uma lista com 5 nomes de cidades.
- Adicione uma nova cidade ao final da lista.
- Remova a segunda cidade da lista.
- Imprima a lista resultante.

In [10]:
lista= ["Santo André", "Paranapiacaba", "Itaim Bibi", "Fruta de Leite", "São Paulo"]
print(lista)

['Santo André', 'Paranapiacaba', 'Itaim Bibi', 'Fruta de Leite', 'São Paulo']

In [11]:
lista.append("Maceió")
print(lista)

['Santo André', 'Paranapiacaba', 'Itaim Bibi', 'Fruta de Leite', 'São Paulo', 'Maceió']

In [12]:
lista.pop(1)
print(lista)

['Santo André', 'Itaim Bibi', 'Fruta de Leite', 'São Paulo', 'Maceió']

##Exercício 2: Operações com Tuplas

- Defina uma tupla com 4 cores.
- Crie uma nova tupla que seja a concatenação da tupla original com outra contendo mais 2 cores.
- Imprima a nova tupla.

In [13]:
cores= ("Amarelo", "Roxo", "Vermelho", "Verde")
print(cores)

('Amarelo', 'Roxo', 'Vermelho', 'Verde')

In [14]:
cores_novas= cores + ("Preto", "Branco",)
print(cores_novas)

('Amarelo', 'Roxo', 'Vermelho', 'Verde', 'Preto', 'Branco')

##Exercício 3: Dicionários Simples

Crie um dicionário para representar um aluno, contendo "nome", "idade" e "curso".
- Atualize a idade do aluno.
- Adicione uma nova chave "nota" com um valor.
- Imprima o dicionário atualizado

In [15]:
dici= {
    "Nome":"João",
    "Idade": 14,
    "Curso":"T.I"
}
print(dici)

{'Nome': 'João', 'Idade': 14, 'Curso': 'T.I'}

In [16]:
dici["Idade"]= 15
print(dici)

{'Nome': 'João', 'Idade': 15, 'Curso': 'T.I'}

In [17]:
dici["Nota"]= "10"
print(dici)

{'Nome': 'João', 'Idade': 15, 'Curso': 'T.I', 'Nota': '10'}

##Exercício 4: Listas e Dicionários

- Crie uma lista de dicionários, onde cada dicionário representa um produto com as chaves "nome" e "preço".
- Adicione um novo produto à lista.
- Atualize o preço do primeiro produto na lista.
- Imprima a lista resultante.

In [18]:
dici1= {
    "Produto":"Detergente",
    "Preço": 3.00
}
produtos= [dici1]
print(produtos)

[{'Produto': 'Detergente', 'Preço': 3.0}]

In [19]:
dici2= {
    "Produto":"Sabão em Pó",
    "Preço": 16.00
}
produtos.append(dici2)
print(produtos)

[{'Produto': 'Detergente', 'Preço': 3.0}, {'Produto': 'Sabão em Pó', 'Preço': 16.0}]

In [20]:
dici1["Preço"]= 5.00
print(produtos)

[{'Produto': 'Detergente', 'Preço': 5.0}, {'Produto': 'Sabão em Pó', 'Preço': 16.0}]

##Exercício 5: Analisando uma Lista de Tuplas

- Crie uma lista de tuplas, onde cada tupla contém um par (nome, idade).
- Encontre e imprima o nome da pessoa mais velha.
- Encontre e imprima a idade média das pessoas.

In [21]:
dados= [("Joaquina", 65), ("Neusa", 50), ("João", 15), ("Lavínia", 7)]
print(dados)

[('Joaquina', 65), ('Neusa', 50), ('João', 15), ('Lavínia', 7)]

In [22]:
nomevelho= ""
idadevelha= 0

if dados[0][1]> idadevelha:
  idadevelha= dados[0][1]
  nomevelho= dados[0][0]
  if dados[1][1]> idadevelha:
    idadevelha= dados[1][1]
    nomevelho= dados[1][0]
    if dados[2][1]> idadevelha:
      idadevelha= dados[2][1]
      nomevelho= dados[2][0]
      if dados[3][1]> idadvelha:
        idadevelha= dados[3][1]
        nomevelho= dados[3][0]

media= dados[0][1]+dados[1][1]+dados[2][1]+dados[3][1]
media= media/len(dados)

In [23]:
print("A Pessoa mais velha é", nomevelho,"com",idadevelha ,"anos de idade")
print("A média é de", media)

A Pessoa mais velha é Joaquina com 65 anos de idade
A média é de 34.25